<!-- Stylesheet -->
<link href="/css/gallery-dark-materialize.css" rel="stylesheet">

<body>
    <!-- Navbar and Header -->
    <nav class="nav-extended nav-full-header z-depth-0 blue darken-4">
        <div class="nav-background">
            <img class="active" src="/img/background.png" alt="background" style="height: 100%;width:100%;">
        </div>
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo"><i class="material-icons">lock_open</i>Locksport</a>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/docs">Docs</a></li>
            </ul>

        </div>

        <div class="nav-header valign-wrapper">
            <div class="center">
                <h1 style="margin-bottom: 5%;">Tha Dude's Rug</h1>
                <div class="tagline" style="margin-bottom:0;">The Dude Abides</div>
                <a href="https://reddit.com/r/lockpicking" target="_blank"><img src="img/reddit.png" alt="r/lockpicking"
                        style="color: white; height: 36px; width: 36px; padding: 0; margin: 0;" /></a>
                <a href="https://discord.com/invite/guq4D2Z" target="_blank"><img src="img/discord.png"
                        alt="lpu discord" style="color: white; height: 36px; width: 36px; padding: 0; margin: 0;" /></a>
            </div>
        </div>
    </nav>
    <ul class="side-nav" id="nav-mobile">
        <li class="active"><a href="index.html"><i class="material-icons">lock_open</i>Home</a></li>
        <li><a href="blog.html"><i class="material-icons">edit</i>Blog</a></li>
        <li><a href="docs.html"><i class="material-icons">school</i>Docs</a></li>
    </ul>