<form action="/register" method="post">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" value="{{username}}" required>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" value="{{email}}" name="email" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" value="{{password}}" name="password" required>
    </div>
    <div class="form-group">
        <label for="confirm-password">Confirm Password</label>
        <input type="password" value="{{password2}}" name="password2" required>
    </div>
    <button type="submit">Submit</button>
</form>